html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Capriola', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, nav ul li a, #logo-container span, #color-switch .btn {
    font-family: 'Capriola', "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}

@media only screen and (min-width: 400px){

.navbar-fixed nav .nav-wrapper {
    background-color: #fff !important;
    color: #555  !important; /* Set the text color to black */
    
}
.navbar-fixed nav .nav-wrapper a {
    color: #555 !important;
}
.navbar-fixed nav .nav-wrapper a i {
    margin-left: 2rem;
}
    
.valign-wrapper{
    min-height: 45rem;
    /* line-height: 0; */
    height: auto;
    color: #555;
}

.top-wrapper {
    background-color: #66bdff;
}

.center{
    text-align: center;
}


#top-banner-container a i.material-icons {
    margin-top: 3rem;
}

.pic-wrapper{
    background-image: url("../asset/bg_patt.png");
}

}
